@import './global-parts/_variables.scss';
@import './global-parts/_reset.scss';
@import './global-parts/typography';

html{
    scroll-behavior: smooth;
}

body {
    // font-family: 'Zen Maru Gothic', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 1300px;
    height: auto;
    margin: auto;
}

.container-md {
    max-width: 1000px;
    height: auto;
    margin: auto;
}

.container-sm {
    max-width: 650px;
    height: auto;
    margin: auto;
}

.image{
    width: 100%;
    height: auto;
}

hr {
    width: 50%;
    margin: 20px auto;
    border: 1px solid var(--color-lightgrey);
    background-color: var(--color-lightgrey);
  }

//SOCIAL
.fa-facebook-square {
    color: var(--fb-color);
}

.fa-instagram-square {
    color: var(--ig-color);
}

.fa-twitter-square {
    color: var(--tw-color);
}
.fa-youtube-square{
    color:var(--yt-color);
}


.visible-b{
    display: block;
}

.d-none{
    display: none;
}