@import './global-parts/_variables.scss';
@import './global-parts/_reset.scss';
@import './global-parts/typography';

body{
    font-family: 'Zen Maru Gothic', sans-serif;
}

.container {
    max-width: 1300px;
    height: auto;
    margin: auto;
}