:root {

    --primary-color: #3aafbf;

    //SOCIAL COLOR
    --fb-color:#3c5998;
    --ig-color:#3f729b;
    --tw-color:#54acee;

    --bg-transparent: transparent;
    --color-black: black;
    --color-dark: #333;
    --color-lightdark: #666;
    --color-lightgrey: lightgrey;
    --color-white: white;
    --color-red: red;
}